@import url("https://fonts.googleapis.com/css2?family=Public+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Public+Sans&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  width: 100%;
  font-size: 16px;

   background-color: 		#e5e7eb
}



body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  min-height: 100%;
  background-color: 		#e5e7eb;
  width: 100%;
  height: 100vh;
  margin: 0;
  font-size: 20px;
}


/* Remove border from toggler */
.navbar-toggler {
  border: 0 !important;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none !important;
  box-shadow: none !important;
  border: 0 !important;
}

/* Lines of the Toggler */
.toggler-icon{
  width: 30px;
  height: 3px;
  background-color: #e74c3c;
  display: block;
  transition: all 0.2s;
}

/* Adds Space between the lines */
.middle-bar{
  margin: 5px auto;
}

/* State when navbar is opened (START) */
.navbar-toggler .top-bar {
  transform: rotate(45deg);
  transform-origin: 10% 10%;
}

.navbar-toggler .middle-bar {
  opacity: 0;
  filter: alpha(opacity=0);
}

.navbar-toggler .bottom-bar {
  transform: rotate(-45deg);
  transform-origin: 10% 90%;
}
/* State when navbar is opened (END) */

/* State when navbar is collapsed (START) */
.navbar-toggler.collapsed .top-bar {
  transform: rotate(0);
}

.navbar-toggler.collapsed .middle-bar {
  opacity: 1;
  filter: alpha(opacity=100);
}

.navbar-toggler.collapsed .bottom-bar {
  transform: rotate(0);
}
/* State when navbar is collapsed (END) */

/* Color of Toggler when collapsed */
.navbar-toggler.collapsed .toggler-icon {
  background-color: #777777;
}

nav ul li {
  padding: 10px 20px;
}



.a {
  color: whitesmoke;
  font-family: "RobotoSlab-Regular.ttf", cursive;
  font-size: larger;
  margin: 12px;
}



.iconoig {

width: 50px;
}
.Formulario {
  background-color: white;
  
  color: #f5f6f7;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  text-align: center;
}

h1, p {
  font-family: "RobotoSlab-Regular.ttf" sans-serif;
  text-align: center;
}

form {
  width: 60vw;
  max-width: 500px;
  min-width: 300px;
  margin: 0 auto;
}

.lista {
  list-style: none;
  text-align: center;
  display: inline;
  margin: 12px;
  font-size: x-large;
}

.agua {
  color: #e5eaf5;
  font-size: large;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.logo {
  width: 60px;
  height: 60px;
}

.img-1 {
  width: 20%;
  
 
}


.parrafo {
  margin-top: 35px;
  font-family:Arial, Helvetica, sans-serif;
  color: #176585;
  margin: 0;
  font-size: xx-large;
 
}

.mainn {
  background-color: #e5e7eb;
}

.h22 {
  
  font-size: xx-large;
 
  color: black;
  margin: 0;
  
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  background-color: #f5f6f7

}



parrafo2 {
  font-family: "RobotoSlab-Regular.ttf", cursive;
  margin: 0;
  color: whitesmoke;
}

.img-2 {
  width: 16%;
  margin-left: 75px;

}




.divvv {
  display: flex;
  flex-direction:row;
background-color: white;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  flex-basis: 100%;
  font-family: "Gilroy-ExtraBold";
  font-size: xx-large;
  flex: 1;
  padding: 25;
  line-height: 1.25;
  box-sizing: border-box;





  
 
  
 


}

.home2 {
  display: flex;
  flex-wrap: wrap;
}

.in-flex2 {
  flex:1;
 min-width: 250px;
 flex: 2;
 padding: 25px;
 height: 350px;
 width: 550px;
 overflow: hidden;
 background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: white;
    font-size: x-large;
    line-height: 1.25;
    text-align: justify;
    font-family:"Gilroy-Light";
    line-height: 1.25;
}

.in-flex2:first-child {
  flex: 2;
  padding: 25px;
  height: 350px;
  width: 550px;
  background-image: url(../imagenes/agua123.png);
  background-position: center center;
     background-repeat: no-repeat;
     background-size: cover;
     transition: 0.5s;
     object-fit: cover;
     font-family:"Gilroy-Light";
     line-height: 1.25;



  
  

}
.in-flex2:first-child:hover {
  transform: scale(1.1);
}

.in-flex div {
  padding: 25px;
  background-color: white;
  margin: 20px;
}

.home5 {
  display: flex;
  flex-wrap: wrap;
}

.in-flex5 {
  flex:1;
 min-width: 250px;
 flex: 2;
 padding: 25px;
 height: 350px;
 width: 550px;
 overflow: hidden;
 background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: white;
    font-size: x-large;
    line-height: 1.25;
    text-align: justify;
    font-family:"Gilroy-Light";
    line-height: 1.25;
}

.in-flex5:first-child {
  flex: 2;
  padding: 25px;
  height: 350px;
  width: 550px;
  background-image: url(../imagenes/focus.jpg);
  background-position: center center;
     background-repeat: no-repeat;
     background-size: cover;
     transition: 0.5s;
     object-fit: cover;
     font-family:"Gilroy-Light";
     line-height: 1.25;



  
  

}
.in-flex5:first-child:hover {
  transform: scale(1.1);
}

.in-flex div {
  padding: 25px;
  background-color: white;
  margin: 20px;
}

.home3 {
  display: flex;
  flex-wrap: wrap;
  background-color: blanchedalmond;
}

.in-flex3 {
  flex:1;
min-width: 250px;
 flex: 2;
 padding: 25px;
 height: 350px;
 width: 550px;
 overflow: hidden;
 background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: white;
    font-size: x-large;
    line-height: 1.25;
    text-align: justify;
    font-family:"Gilroy-Light";
    line-height: 1.25;
   
}

.in-flex3:first-child {
  flex: 2;
  padding: 25px;
  height: 350px;
  width: 550px;

  background-position: center center;
     background-repeat: no-repeat;
     background-size: cover;
     transition: 0.5s;
     object-fit: cover;
     font-family:"Gilroy-Light";
     line-height: 1.25;



  
  

}
.in-flex:first-child:hover {
  transform: scale(1.1);
}

.in-flex div {
  padding: 25px;
  background-color: white;
  margin: 20px;
}

.in-flex4 {
  flex:1;
 min-width: 250px;
 flex: 2;
 padding: 25px;

 overflow: hidden;
 background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: white;
    font-size: x-large;
    line-height: 1.25;
    text-align: justify;
    font-family:"Gilroy-Light";
    line-height: 1.25;
   background-image: url(../imagenes/agua321.png);}
    .in-flex4:first-child {
      flex: 2;
  padding: 45px;
  height: 330px;


  background-position: center center;
     background-repeat: no-repeat;
     background-size: cover;
     transition: 0.5s;
     object-fit: cover;
     font-family:"Gilroy-Light";
     line-height: 1.25;
     margin: auto;
       
   
}

.in-flex4:first-child:hover {
  transform: scale(1.1); }
@media (max-width:300px){
  .divvv {
   flex-direction: column;
   flex-basis: 100%;
  }
}

.productos {
  font-family: "Montserrat-Black.otf", sans-serif;
  background-image: linear-gradient(#24252A, black);
  margin: 0;
  color: aquamarine;
}

.lista2 {
  list-style: none;
  text-align: center;
  display: inline;
  margin: 12px;
  font-size: x-large;
}



.box {
  width: 100px;
  
  font-family: Arial, Helvetica, sans-serif;
  font-size: small;
  transition-property: width;
  transition-duration: 2s;
}

.salud {
  width: 4vw;
}


.img-3 {
  width: 20%;
 margin-left: 55px;
 
}



.box:hover {
  width: 1518px;
  background-image: linear-gradient(#24252A, black);
}

.col {
  list-style: none;
  margin: 0px;
}


.hijo {
  
  font-family: Arial, Helvetica, sans-serif;
  
  color: lightcoral;
}

/* MENU HAMBURGUER MODIFICADO */
.navbar-toggler {
  border: none !important;
}

.navbar-toggler:focus {
  box-shadow: none !important;
}
/* Formulario Practicado en freecodecamp */

Formularioh1, p {
  margin: 1em auto;
  text-align: center;
}

form {
  width: 60vw;
  max-width: 500px;
  min-width: 300px;
  margin: 0 auto;
  padding-bottom: 2em;
}

fieldset {
  border: none;
  padding: 2rem 0;
  border-bottom: 3px solid #3b3b4f;
}

fieldset:last-of-type {
  border-bottom: none;
}

label {
  display: block;
  margin: 0.5rem 0;
}

input,
textarea,
select {
  margin: 10px 0 0 0;
  width: 100%;
  min-height: 2em;
}

input, textarea {
  background-color: #0a0a23;
  border: 1px solid #0a0a23;
  color: #ffffff;
}

.inline {
  width: unset;
  margin: 0 0.5em 0 0;
  vertical-align: middle;
}

input[type="submit"] {
  display: block;
  width: 60%;
  margin: 1em auto;
  height: 2em;
  font-size: 1.1rem;
  background-color: #3b3b4f;
  border-color: white;
  min-width: 300px;
}

input[type="file"] {
  padding: 1px 2px;
}

/* RESPONSIVE */
.home {
  display: flex;
  flex-wrap: wrap;
  background-color: #c2e4cb;
}

.in-flex {

  font-family: "Montserrat-Black.otf", sans-serif;
  font-size: larger;
  flex-direction: column;
  background-image: url(.);
  
 
}

.conteinerr {
  background-color: #27b1bf;
  margin: 0;
}

.in-flex:first-child {
  flex: 2;
  padding: 25;

  margin: 20px;
  margin-bottom: 0px;
  font-family: Arial, Helvetica, sans-serif;
  
}

.in-flex div {
  flex: 1;
  padding: 25;
  
  margin: 20px;
  font-family: Arial, Helvetica, sans-serif;
  
 
}
/* RESPONSIVE */
.pb {
 font-size: large;
  font-family:"Public Sans", sans-serif;
  color: #0a0a23;
  background-color: #e5e7eb;
 
}


/* UTILIZANDO GRID */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  font-family: "Public Sans", sans-serif;
  font-size: 1.2rem;
  min-height: 100%;
  
}

.grid-container > * {
  box-shadow: -1px 1px 7px 0px rgba(0, 0, 0, 0.75);
  border-radius: 4px;
  padding: 10px;
  text-align: center;
}

.header {
  grid-area: header;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
}

.divv {
  
    flex: 2;
    padding: auto;
    background-image: url(../imagenes/66.jpg) ;
    margin-bottom: 0px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    margin-left: auto;
    font-size: large;
  font-family: Arial, Helvetica, sans-serif;
  height: 650px;

}

.divv2{
  display: inline-block;
  flex-direction:row;

  color: black;
  position: relative;
margin-left: 50px;
}

.flex-containerr {
  display: flex;
  
  flex-direction: row;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
margin-right: -6px;
  background-image: url(../imagenes/pxfuel.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0q;
  overflow: hidden;
}


.flex-containerr div {

  margin: 20px;
  flex-basis: 100%;
  color: white;
  font-size: xx-large;
  font-style: italic;
  text-align: center;
  font-weight: 100px;
  text-shadow: #2c3e50;
  text-decoration: dashed;
  text-transform: inherit;
  
  
  
}

@media (max-width: 300px) {
  .flex-containerr {
    flex-direction: row;
  }

  .flex-containerr div {
    flex-basis: 100%;
  }
}
.divv2::after{
position: absolute;
top:0px;
left: 0px;
content: ' ';
background-color: orange;
width: 100%;
height: 10%;
filter:blur(25px);
z-index: -1;
background: #2c3e50; /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #2c3e50, #3498db); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #2c3e50, #3498db); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
.divv2 div {

  flex-basis: 100%;
  text-align: center;
  
 



}

@media (max-width:300px){
  .divv2{flex-direction: column;
  
   }
.divv2 div {
flex-basis: 100%;

}
}


.h11 {
  width: 100%;
  height: 270px;
  color: white;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: xx-large;



}


.navbar {
  grid-area: navbar;
  background-image: linear-gradient(#24252A, black);
  font-family: Arial, Helvetica, sans-serif;
  color: lightcoral;
}

.main {
  grid-area: main;
  
  color: #15658f;
  font-family: Arial, Helvetica, sans-serif;
}

.footer {
  grid-area: footer;
  font-family: Arial, Helvetica, sans-serif;
}

.grid-container {
  display: grid;
  grid-template: "header" 120px "navbar" 50px "main" auto "sidebar" 100px "footer" 100px;
}

@media (min-width: 600px) {
  .grid-container {
    /* grid-template-columns: 200px auto;
    grid-template-rows: 100px 50px auto 100px;
    grid-template-areas: 
    "header  header"
    "navbar  navbar"
     main"
    "footer  footer"; */
    grid-template: "header  header" 50px "navbar  navbar" 40px "main     main" auto "footer  footer" 100px/200px auto;
  }
}
@media (min-width: 900px) {
  .grid-container {
    grid-template: "header  header header" 100px "navbar  main   main" auto "footer  footer footer" 100px/200px auto 200px;
  }
}
.bodyyy{
  background-color: #e5e7eb;
}
.ppp {
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-size: x-large;
}
/*# sourceMappingURL=main.css.map */

.container {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding: 1.5em;
}

ul {
  list-style: none;
  padding: 0;
}

.logo {
  text-align: center;
  font-size: 3em;
}

.logo span {
  color: #B70E21;
}

.contact-wrapper {
  box-shadow: 0 0 20px 0 rgba(255, 255, 255, .3);
}

.contact-wrapper > * {
  padding: 1em;
}

.contact-form {
  background: #222222;
}

.contact-form form {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.contact-form form label {
  display: block;
}

.contact-form form p {
  margin: 0;
  padding: 1em;
}

.contact-form form .block {
  grid-column: 1 / 3;
}

.contact-form form button,
.contact-form form input,
.contact-form form textarea {
  width: 100%;
  padding: .7em;
  border: none;
  background: none;
  outline: 0;
  color: #fff;
  border-bottom: 1px solid #d63031;
}

.contact-form form button {
  background: #B70E21;
  border: 0;
  text-transform: uppercase;
  padding: 1em;
}

.contact-form form button:hover,
.contact-form form button:focus {
  background: #d63031;
  color: #fff;
  transition: background-color 1s ease-out;
  outline: 0;
}

/* CONTACT INFO */
.contact-info {
  background: #000;
}

.contact-info h4, .contact-info ul, .contact-info p {
  text-align: center;
  margin: 0 0 1rem 0;
}

/* LARGE SIZE */
@media(min-width: 700px) {

  .contact-wrapper {
      
      grid-template-columns: 2fr 1fr;
  }
  .contact-wrapper > * {
      padding: 2em;
  }
  .contact-info h4,
  .contact-info ul,
  .contact-info p {
      text-align: left;
  }
}

.slider{
  width: 100%;
  height: 600px;
  overflow: hidden;
}
.slider ul{
    display: flex;
    animation: cambio 20s infinite alternate linear;
    width: 400%;
}
.slider li{
    width: 100%;
    list-style: none;
}
.slider img{
    width: 100%;
    height: 100%;
}
@keyframes cambio{
    0%{margin-left: 0;}
    20%{margin-left: 0;}
    
    25%{margin-left: -100%;}
    45%{margin-left: -100%;}
    
    50%{margin-left: -200%;}
    70%{margin-left: -200%;}
    
    75%{margin-left: -300%;}
    100%{margin-left: -300%;}
}
@media only screen and (min-width:320px) and (max-width:768px){
.slider, .slider ul, .slider img{
    height: 100vh;
}
}
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
/*Cards*/
.container-card{
	width: 100%;
	display: flex;
	max-width: 1100px;
	margin: auto;
}
.title-cards{
	width: 100%;
	max-width: 1080px;
	margin: auto;
	padding: 20px;
	margin-top: 20px;
	text-align: center;
	color: #7a7a7a;
}
.card{
	width: 90%;
	margin: 20px;
	border-radius: 6px;
	overflow: hidden;
	background:#fff;
	box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
	transition: all 400ms ease-out;
	cursor: default;
}
.card:hover{
	box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
	transform: translateY(-3%);
}
.card img{
	width: 100%;
	height: 210px;
}
.card .contenido-card{
	padding: 15px;
	text-align: center;
}
.card .contenido-card h3{
	margin-bottom: 15px;
	color: #7a7a7a;
}
.card .contenido-card p{
	line-height: 1.8;
	color: #6a6a6a;
	font-size: 14px;
	margin-bottom: 5px;
}
.card .contenido-card a{
	display: inline-block;
	padding: 10px;
	margin-top: 10px;
	text-decoration: none;
	color: #2fb4cc;
	border: 1px solid #2fb4cc;
	border-radius: 4px;
	transition: all 400ms ease;
	margin-bottom: 5px;
}
.card .contenido-card a:hover{
	background: #2fb4cc;
	color: #fff;
}
@media only screen and (min-width:320px) and (max-width:768px){
	.container-card{
		flex-wrap: wrap;
	}
	.card{
		margin: 15px;
	}
}
/*Fin-Cards*/
